# 前言

对于 Pandas 的 DataFrame 的基本属性进行了解，比如数据格式问题造成的一些问题，就需要了解清楚之后来操作。

In [9]:
import pandas as pd 

# 读取股票样例数据
df = pd.read_csv('stock_basic.csv',index_col='Unnamed: 0')

df

        ts_code  symbol  name area industry  list_date
0     000001.SZ       1  平安银行   深圳       银行   19910403
1     000002.SZ       2   万科A   深圳     全国地产   19910129
2     000004.SZ       4  国农科技   深圳     生物制药   19910114
3     000005.SZ       5  世纪星源   深圳     环境保护   19901210
4     000006.SZ       6  深振业A   深圳     区域地产   19920427
...         ...     ...   ...  ...      ...        ...
3719  688366.SH  688366  昊海生科   上海     生物制药   20191030
3720  688368.SH  688368  晶丰明源   上海      半导体   20191014
3721  688369.SH  688369  致远互联   北京     软件服务   20191031
3722  688388.SH  688388  嘉元科技   广东      元器件   20190722
3723  688389.SH  688389  普门科技   深圳     医疗保健   20191105

[3724 rows x 6 columns]

# 基础属性

In [10]:
df.shape # 行数 列数

(3724, 6)

In [11]:
df.dtypes # 列数据类型

ts_code      object
symbol        int64
name         object
area         object
industry     object
list_date     int64
dtype: object

In [12]:
df.ndim # 数据维度

2

In [13]:
df.index # 行索引

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            3714, 3715, 3716, 3717, 3718, 3719, 3720, 3721, 3722, 3723],
           dtype='int64', length=3724)

In [14]:
df.columns # 列索引

Index(['ts_code', 'symbol', 'name', 'area', 'industry', 'list_date'], dtype='object')

In [15]:
df.values # 对象值，二位 ndarray 数组

array([['000001.SZ', 1, '平安银行', '深圳', '银行', 19910403],
       ['000002.SZ', 2, '万科A', '深圳', '全国地产', 19910129],
       ['000004.SZ', 4, '国农科技', '深圳', '生物制药', 19910114],
       ...,
       ['688369.SH', 688369, '致远互联', '北京', '软件服务', 20191031],
       ['688388.SH', 688388, '嘉元科技', '广东', '元器件', 20190722],
       ['688389.SH', 688389, '普门科技', '深圳', '医疗保健', 20191105]],
      dtype=object)

---

# 整体情况查询

In [16]:
df.head(3) # 显示头部几行，默认 5 行

     ts_code  symbol  name area industry  list_date
0  000001.SZ       1  平安银行   深圳       银行   19910403
1  000002.SZ       2   万科A   深圳     全国地产   19910129
2  000004.SZ       4  国农科技   深圳     生物制药   19910114

In [17]:
df.tail(3) # 显示末尾几行，默认 5 行

        ts_code  symbol  name area industry  list_date
3721  688369.SH  688369  致远互联   北京     软件服务   20191031
3722  688388.SH  688388  嘉元科技   广东      元器件   20190722
3723  688389.SH  688389  普门科技   深圳     医疗保健   20191105

In [21]:
df.info() # 相关信息概览：行数、列数、列索引、列非空值个数、列类型、内存占用

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3724 entries, 0 to 3723
Data columns (total 6 columns):
ts_code      3724 non-null object
symbol       3724 non-null int64
name         3724 non-null object
area         3722 non-null object
industry     3722 non-null object
list_date    3724 non-null int64
dtypes: int64(2), object(4)
memory usage: 363.7+ KB

In [19]:
df.describe() # 快速综合统计结果：计数、均值、标准差、最大值、四分位数、最小值

              symbol     list_date
count    3724.000000  3.724000e+03
mean   314674.658432  2.008114e+07
std    267924.905904  8.152001e+04
min         1.000000  1.990121e+07
25%      2477.500000  2.000112e+07
50%    300472.500000  2.010081e+07
75%    600739.250000  2.016031e+07
max    688389.000000  2.019113e+07